
a,img {
	border: 0;
}

body {
	font: 12px/180% Arial, Helvetica, sans-serif, "햭풻";
}

.besh-resim {
	width: 870px;
	height: 650px;
	overflow: hidden;
	margin: 0 auto;
}

.resim-isimler {
	float: left;
	width: 190px;
	height: 190px;
	margin-top: 10px;
	padding: 0;
	text-align: center;
}

.resim-isim {
	position: relative;
	height: 190px;
	list-style: none;	
}

.isim {
	display: block;
	position: relative;
	height: 100%;
	max-width:100%;
	z-index: 2;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	margin: 5px auto;
	border: 1px solid gray;
}

.resimler {
	float: right;
	position: relative;
	width: 650px;
	height: 100%;
}

.resim-ulinish {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	text-decoration: none;
}

.resim-ulinish:first-child {
	display: inline;
}

.resim {
	display: block;
	height: 100%;
	max-width:100%;
	z-index: 2;
	margin: 0 auto;
	border: 1px solid gray;
}

.head {
	height: 80px;
	background-color: #535f6d;
	text-align: center;
	padding-top: 13px;
}

.htitle {
	font-size: 30px;
	font-weight: bold;
	font-family: 풕턼환쥌;
	color: white;
	/* margin-top: 15px; */
}

.baseinfo {
	width: 1200px;
	height: 96px;
	background-color: white;
	margin: 0 auto;
	padding: 15px;
	font-size: 14px;
	font-family: 풕턼환쥌;
	color: #888888;
}

.ttpic {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px;
}

.ttpic span {
	font-size: 24px;
	font-family: 풕턼환쥌;
	color: #23AEB1;
}

.ttbase {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 0 15px 0;
	height: 630px;
}

.ttbase #tbtitle {
	margin-left: 12px;
	font-size: 24px;
	font-family: 풕턼환쥌;
	color: #23AEB1;
}

.oproblem {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 0 15px 0;
	height: 170px;
}

.oproblem #otitle {
	margin-left: 12px;
	font-size: 24px;
	font-family: 풕턼환쥌;
	color: #23AEB1;
}

.fproblem {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 0 15px 0;
	height: 140px;
}

.fproblem #ftitle {
	margin-left: 12px;
	font-size: 24px;
	font-family: 풕턼환쥌;
	color: #23AEB1;
}

.bscore {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 0 15px 0;
	height: 200px
}

.bscore #btitle {
	margin-left: 12px;
	font-size: 24px;
	font-family: 풕턼환쥌;
	color: #23AEB1;
}

.ascore {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 0 15px 0;
	height: 200px
}

.ascore #atitle {
	margin-left: 12px;
	font-size: 24px;
	font-family: 풕턼환쥌;
	color: #23AEB1;
}

.suggest {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 0 15px 0;
	height: 180px
}

.suggest #tsuggest {
	margin-left: 12px;
	font-size: 24px;
	font-family: 풕턼환쥌;
	color: #23AEB1;
}

.bt {
	width: 1200px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 0 15px 0;
	height: 70px;
}

button {
	width: 120px;
	height: 40px;
}

button,.b1 {
	background: #23a1b1;
	color: #fff;
}

.b1:HOVER {
	background: #2ac4c7
}

button,.b2 {
	background: #a0a0a0;
	color: #fff;
}

.b2:HOVER {
	background: #bbbaba;
}
ul li img {
	opacity:0.8;
	filter:alpha(opacity=80);
}

ul li img:hover {
    opacity:1;
    filter:alpha(opacity=100);
}
.